html {
	background-color: black;
}

html::after { 
  background: url(bgimage.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  content: "";
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;   
}

a:hover {
    text-decoration: none;
}
.navbar-header a.navbar-brand.admin-header-item:hover,
.navbar-header a.navbar-brand.admin-header-item:active,
.navbar-header a.navbar-brand.admin-header-item:visited {
  text-decoration: none;
  color: rgba(255,255,255, 1.0);
}

.navbar-header a.navbar-brand.admin-header-item:hover,
.navbar-header a.navbar-brand.admin-header-item:active {
  text-decoration: none;
  color: rgba(255,255,255, 0.9);
}

body {
    font: 'Open Sans', Arial, Sans-serif;
    margin: 0;
    background-color: transparent;
    /*background: #e9e9e9;*/
}

nav.car-nav {
  background-color: rgba(0,0,0, 0.75);
  border-color: rgba(231, 231, 231, 0.3);
  color:white;
}
a.navbar-brand.admin-header-item {
  color: white;
}
.navbar-default .navbar-nav > li > a {
  color: rgba(255, 255, 255, 0.9);
}

button.clear-search-button {
  background-color: rgba(255, 255, 255, 0);
  color: rgba(255, 255, 255, 0.9);
}

button.clear-search-button:active, 
button.clear-search-button:focus {
  background-color: rgba(255, 255, 255, 0);
  color: rgba(255, 255, 255, 0.9);
}

.navbar-default .navbar-nav > .active > a {
  background-color: rgba(255, 255, 255, 0.9);
}

h1 {
	text-align: center;
}

.searches {
	color: white;
}

.searches input {
	color: black;
}
div.entry {
  margin-top: 6rem;
}

.cars,
.searches {
	padding-top: 6rem;
}

#search-container {
	padding: 1rem;
	font-size: 2rem;
}

.search-item {
	margin: 0.5rem 0 0 0;
}

.wrapper {
    width: 95%;
    margin: 3em auto;
}

/*.masonry {
    margin: 1.5em 0;
    padding: 0;
    -moz-column-gap: 1.5em;
    -webkit-column-gap: 1.5em;
    column-gap: 1.5em;
}
.item {
    display: inline-block;
    background: #fff;
    padding: 1em;
    margin: 1.5em;
    width: 300px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: 2px 2px 4px 0 #ccc;
    font-size: 1.5rem;
}*/

div.thumbnail {
  display: none;
}

div.jumbotron.four-oh-four p {
  text-align: center;
}

div.jumbotron.four-oh-four,
div.jumbotron.car-ad-template {
  margin-top: 60px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.88);
}

div.car-ad-template h3.car-ad-heading {
  margin-top: 6px;
}

div.car-ad-template p.car-ad-body{
  font-size: 18px;
  color: rgb(68,68,68);
}

div.car-ad-template .carimage,
div.thumbnail .carimage {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 260px;
  width: 100%;  
  position: relative;  
}

div.admin-item-background {
  background-color: white;
  padding: 11px;
  margin: 11px 0px;
}

div.curation-heading-container {
  white-space: nowrap;
}

button.curation-btn {
  width: 100%;
  margin-bottom: 5px;
  font-size: 18px;
  height: 38px;
}

div.carousel-inner {
  height: 260px;
}

div.carousel-carimage {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  width: 100%;
  height: 100%;
}

div.carousel div.carousel-inner div.item {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

div.admin-item-background.lame-car,
div.thumbnail.lame-car {
  background-color: rgb(255, 0, 0);
}

div.loadingMoreCars div.pagesLoadingDefaultCont {
  position: relative;
}

.carimage .price {
  background-color: rgba(255, 255, 255, 0.88);
  font-weight: bold;
}

.thumbnail .caption.price {
  padding: 0px;
  padding-left: 9px;
  font-weight: normal;
  
}

.caption.price span {
  font-size: 1.2rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6);
}

div.caption.heading  {
  padding: 9px;
  padding-right: 28px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.88);
  font-weight: bold;
}

div.caption span {
  font-size: 1.5rem;
}

/*.item h3 {
	margin: 0px;
}

.item img {
    width: 100%;
}*/

.refresh-data {
	margin-top: 1rem;
}
.image-container {
	width: 100%; 
	margin-top: 1rem;
	overflow: hidden; 
}

div.loadingCurrentCar {
  margin-top: 60px;
}
div.loadingCurrentCar div.pagesLoadingDefaultCont {
  position: relative;
}

a.twitter-share-button {
  background-color: rgb(85, 172, 238);
  color: white;
  font-size: 18px;
}



button.share-ad {
  position: absolute;
  background-color: transparent;
  border: transparent;
  font-size: 31px;
  bottom: 4px;
  right: 20px;
  color: rgba(57, 65, 82, 1);
  padding: 0px;
}

div.car-ad-template a.full-width-button {
  width: 100%;
}

div.car-ad-template div.top-button {
  padding-bottom: 6px;
}

button.share-ad:active, 
button.share-ad:hover {
  background-color: transparent;
  border: transparent;
  outline:0px !important;
  -webkit-appearance:none;
}

.modal-header input.direct-ad-link {
  background-color: transparent;
  cursor: pointer;
}

.share-row {
  text-align: center;
  font-size: 16px;
  padding-top: 10px;
}

@media (min-width: 768px) {
  button.share-ad {
    bottom: 26px;
  }
  html::after { 
    opacity: 0.5; 
  }
}
/*
@media(max-width:767px){}
@media(min-width:768px){}
@media(min-width:992px){}
@media(min-width:1200px){}*/